.nav {
  width: 100%;
  height: 10rem;
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem 0 10rem;
}

.nav__list {
  list-style: none;
  height: 100%;
}
.nav__list-item {
  font-size: 3.6rem;
  text-decoration: none;
}

.nav__list-link:link,
.nav__list-link:visited,
.nav__list-link:hover,
.nav__list-link:active {
  text-decoration: none;
  transition: all 0.3s;
}

.nav__list-link:link,
.nav__list-link:visited {
  color: transparent;
}

.nav__list-link:hover,
.nav__list-link:active {
  color: #5ebd78;
}

.container {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.active {
  color: #5ebd78 !important;
}
