.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
}

.container {
  max-width: 70rem;
  max-height: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  padding: 10rem;
  background-color: #1e1e1e;
  color: transparent;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__box {
  position: relative;
  height: 100%;
}

.description {
  font-size: 4.8rem;
}

.backdrop {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #000000ad;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  border: #000 solid 2px;
  border-radius: 50%;
  background-color: #800000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.remove:hover {
  background-color: #cc0000;
}
