.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 4rem;
}

.title__box {
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6.4rem;
  font-weight: 700;
}

.description__box {
  width: 100%;
  margin: 8rem 8rem;
}

.description {
  font-size: 3.6rem;
}
.add_department_button {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  color: #1e1e1e;
  background-color: transparent;
  border-color: transparent;
  width: 10%;
  height: 5rem;
}
.departments__box {
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 0;
}

.departments__box h2 {
  font-size: 3rem; /* Adjust font-size as needed */
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.departments__box ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  row-gap: 2rem;
  column-gap: 10rem;
  margin-right: 5rem;
}

.departments__box li {
  font-size: 1.6rem; /* Adjust font-size as needed */
  margin-bottom: 0.5rem; /* Adjust margin as needed */
  cursor: pointer;
}

.departments__box li:hover {
  text-decoration: underline;
}
